

# Add search folder to gitignore
python/resources/search/*

.vscode

# Ignore Mac OS files
.DS_Store

# Ignore Vim swap files
*.swp

# Ignore Python cache directories
__pycache__/
*.py[cod]

# Ignore Python virtual environments
venv/

launch.json
settings.json
