
/* Local and CDN CSS for bulma  */

@import url("bulma.css");

@import url("https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css");


  .figure > *:not(.figcaption):not(.picture) {
    text-align: left; /* Align text content to the left */
    float: left;      /* Optional: float left if you want the elements to stack horizontally */
    display: block;   /* Ensure elements are block-level */
}


dt:not(:first-child) {
  margin-top: 2.5em; /* Adjust the value as needed */
}


/* Algolia Search CSS */
   .ais-Hits-list {
    list-style-type: none;
    padding: 0;

    max-height: 300px;   /* Set the maximum height */
    overflow-y: auto;    /* Enable vertical scrolling */
    padding-right: 1rem; /* Add space for scrollbar */ 
   }

    .ais-Hits-item {
      padding: 0.5rem;
    }

    /* Remove underline from links inside ais-Hits-item */
    .ais-Hits-item a {
      text-decoration: none !important;  /* Use !important to override any competing styles */
    }
