

:root {
    --bulma-radius: border-radius: 0.45rem; 
 
}


.button { 
    border-radius: var(--bulma-radius);
    border-color: rgb(209, 217, 224);
     }



      
ol.olchildlinks {
    margin-top:0%;

    border:10pt black; 
    list-style-type: none;
    margin-left: 0em;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr)); /* Ensures at least 2 cells per row */
    gap: 16px; /* Adds spacing between grid items */
}


li.olchildlink {
    list-style-type: none;
    border-radius: var(--bulma-radius);
    border-color: rgb(209, 217, 224);
    word-wrap: break-word; /* Ensures text wraps within the cell */
    border: 1px solid ; /* Optional: Adds a border for visual separation */
    padding: 16px; /* Optional: Adds padding inside each cell */

}
     