/* Import in external CSS */
@import url("https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css");

/* Import in external CSS */
@import url("https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css");

.title, .subtitle, h1, h2, h3, h4, h5, h6 {
    margin-left: 1rem; /* 1rem is relative to the root font size */
}

/* Override Bulma's default background color variable */
$background: violet !important;



.navbar, .hero, .section, .footer {
    background-color: violet !important;
  }


