/* Adding local and CDN Bulma CSS */

@import url("bulma.css");

@import url("https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css");


  .figure > *:not(.figcaption):not(.picture) {
    text-align: left; /* Align text content to the left */
    float: left;      /* Optional: float left if you want the elements to stack horizontally */
    display: block;   /* Ensure elements are block-level */
}


dt:not(:first-child) {
  margin-top: 2.5em; /* Adjust the value as needed */
}

